.git
.github
node_modules
vendor
tests
storage/app/public/*
storage/app/private/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.production.example
*.sqlite
public/hot
.idea
.vscode
docs
handoff
